<% content_for :title do %>About<% end %>

<div>

  <div class="text-center" style="padding-bottom: 50px;">
    <h1>About Us</h1>
    <%= image_tag 'admin-team' %>
  </div>


  <div class="row">
    <%= image_tag 'about-store-front', class: 'col-md-4' %>

    <p class="col-md-8">
      <strong>The Broward Table Tennis Club</strong> and the South Florida Table Tennis
      Org. has merged to create one of the most prestigious state of the art clubs in the country. We are one of 11 clubs chosen to be a "National Club of Excellence" in the US.

      <strong>BTTC</strong> is a player’s home away from home. Our facility has 19
      Butterfly tables & Negwy robots resting on the world class Chinese blue floor. Each court is barriered and illuminated with 6-mirrored florescent lights.

      <strong>BTTC</strong> provides a lounge, with chairs, couches, tables, flat screen
      TV's and wi-fi internet connection. It over looks the playing areas so family and friends can relax while watching play.

      We also have a snack and soda machine, 2 refrigerators and microwave.

      Our center offers a multitude of activities for all ages and levels of play.
    </p>

  </div>


  <h3>Admins and Coaches</h3>
  <div class="row">
    <%= image_tag 'keith-kahan', class: 'col-md-4' %>
    <p class="col-md-8">
      <strong>Keith Kahan</strong>
       is a successful American Entrepreneur, who is involved in several business ventures in Florida. Keith is an active member of his local community. The Broward Table Tennis Club in Florida is part owned by Keith Kahan. This presstigious Florida club is State of The Art and was chosen one of 11 "National Clubs of Excellence" by the United States Table Tennis Association. They hold monthly USATT sanctioned tournaments  and they host an International US Open Warm Up Tournament each year. One of the coaches, Terese Terranova won two Gold medals at the 1998 Paralympics in Seoul, Korea and was the 1986/7 World Wheelchair Champion in Singles, Doubles and Team in Brisbane, Australia. Another coach, Marty Prager, is in the USA Table Tennis Hall of Fame. Keith also has a stake in two buildings in Pine Island, Plantation, Florida – The Bank of America and BB & T. One of the buildings has 40 executive (also known as serviced) office suites which is a growth business as many people are now working in small businesses and need these facilities. One of the other partners, Transatlantic, has many property investments in America.Keith is a well-respected member of the Tower Council at Pine Crest School, Boca Raton, Florida, the school which his children attend. Keith regularly donates generously to the school.
    </p>
  </div>


  <div class="row">
    <%= image_tag 'carlos-zeller', class: 'col-md-4' %>
    <p class="col-md-8">
      <strong>Carlos Zeller:</strong> I was born in Argentina. Started to
      play table tennis at the age of 13 and never stopped enjoying the game. I got a master’s degree in industrial engineering. In 1992 I joined the Broward Table Tennis Club which was founded a year earlier. After a few years, although I was not a member of the board I started to run the place. We moved around a few times till in 2005 we rented a warehouse in Hollywood and became a full time club. Three years later we bought a building where we stayed for 6 years till I decided to build a state of the art place to give South Florida the perfect place to learn, get better and enjoy the sport. We are bringing children from different countries to better themselves as players and we are committed to make sure that everyone has fun from the beginner to the professional players
    </p>
  </div>

  <div class="row">
    <%= image_tag 'terese-terranova', class: 'col-md-4' %>
    <h3>USATT NATIONAL LEVEL COACH</h3>
    <p class="col-md-8">
      <strong>Terese Terranova:</strong>
      <strong>Ranked #1 in the World in 1987</strong> and remained ranked in the top 3 in the World for the next 9 years.
      <strong>1986-87 World Wheelchair Champion </strong> in Singles, Doubles and Team Brisbane, Australia. Double Gold Medallist in 1988 Paralympics Seoul, Korea. Bronze Medallist in both 92’Barcelona and 96’ Atlanta Paralympics. Member of the 2000 Paralympic Team, where she got to the quarterfinals.
      <strong>Senior Women’s Champion US Open 1987</strong>. Coach Terranova has won numerous Wheelchair National Championships as well. She was the first US female International Umpire. She helped Mr. Prager develop Keith Alban, Randy Cohen, and many more. On her own she coached Ariel Montalvo 6 times Florida State Champion. Terese and Marty coach side by side developing there 40 plus students.  Over the years, they have developed both National and International Juniors and have coached Senior athletes to National titles as well.
      Terese was <strong>inducted into the "Broward Sports Hall of Fame"</strong> Class
      of 2012. This honor goes to major sports figures that not only has excelled in their respective sport but has given back so much to the community and the sport they represent.
    </p>
  </div>

  <div class="row">
    <%= image_tag 'lady-ruano', class: 'col-md-4' %>
    <h3>COACH ITTF</h3>
    <h5>Highest Rating 2376 (July 2017)</h5>
    <p class="col-md-8">
      <strong>Professional table tennis player.</strong> Member of the Colombian National team (1995-2004, 2011-today). During her 23 year career she
      <strong>has won over 50 national titles</strong>. Her first international exposure was the junior South American tournament in Venezuela in 1995, where she got the bronze medals in the team event.
      In 1997, she became junior south American in Chile. From there on, she medaled on international Latin American tournaments (Bolivarian games, South American games, Center American games and Caribbean games).

      She got  <strong> fifth place in the Pan-American games in Toronto.</strong>
      She got the <strong> first on the Latin American Cup in Guatemala in 2016 .</strong>
      She  <strong> participated on the Olympic Games in Rio de Janeiro in 2016</strong>.
      She also <strong>participated on the Women’s World Cup in Philadelphia in 2016. </strong>

      She has participated in the following World Championships: Qatar, Germany, France, Japan and China. She has a physical education mayor. She also has an international coaching degree.

      She intends to qualify for the Olympics in Tokyo (2020). She also want to spread her table tennis knowledge to all the people who love and practice the sport.
    </p>
  </div>
</div>

