<div class="container">


  <h4>
    Reserving for:
    <strong>
      <%= @timeblock.day_block.schedule_date.strftime('%A')%>
    </strong>
    at
    <strong>
      <%= @timeblock.block_start_time.strftime('%l:%M %P') %>
    </strong>
  </h4>

  <h4>
    Available Spots: <%= @timeblock.availability %>
  </h4>

  <%= form_tag reservations_path, method: :post do |form| %>
    <div>
      <strong>Number of People: </strong>
      <%= select_tag :total_reservations, options_for_select([1, 2,3,4]) %><br>
      <%= hidden_field_tag :time_block_id, @timeblock.id %>
      <%= submit_tag 'Reserve' %>
    </div>
  <% end %>



</div>
