<% total_reservation_options = [*1..[4, @available_spots].min] %>

<div class="container">

  <h4>
    Reserving for:
    <strong>
      <%= @date_time.strftime('%A, %B %d')%>
    </strong>
    at
    <strong>
      <%= @date_time.strftime('%l:%M %P') %>
    </strong>
  </h4>

  <h4>
    Available Spots: <%= @available_spots%>
  </h4>

  <%= form_tag reservations_path, method: :post do |form| %>
    <div>
      <strong>Number of People: </strong>
      <%= select_tag :party_size, options_for_select(total_reservation_options) %><br>
      <%= hidden_field_tag :date_time, @date_time %>
      <%= hidden_field_tag :club_table, 20 %>
      <%= hidden_field_tag :type_lesson, false %>
      <%= submit_tag 'Reserve' %>
    </div>
  <% end %>


</div>
