<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<p>
  New reservation created for <%= @user.name %>
  <% if @reservation.party_size > 1 %>
    and <%= @reservation.party_size - 1 %> guests
  <% end %>
  !</p>
<p>
  Reservation details<br>
  --------------------------
</p>
<p>Date: <%= @reservation.scheduled_for.strftime('%A, %B %d') %></p>
<p>Time: <%= @reservation.scheduled_for.strftime('%l:%M %P') %></p>
<p>Party Size: <%= @reservation.party_size %></p>

<p>
  Message:<br>
  ----------
</p>
<p>TODO: Add IMPORTANT MESSAGE HERE</p>
</body>
</html>