<%# navigation styled for Bootstrap 3.0 %>
<style>
  .logo-sm {
    padding-left: 10px;
    height: 150px;
    width: 200px;
  }



</style>
<nav id="sidebar">
  <div class="sidebar-header">
    <div class="row">
      <%= image_tag 'logo', class: 'logo-sm' %>
      <h3 class="text-center">BTTC</h3>
    </div>
  </div>

  <ul class="list-unstyled components">
    <p>Welcome <%= current_user.name if user_signed_in? %></p>

    <li><%= link_to 'Home', root_path, class: 'nav-link'%></li>

    <%= render 'layouts/nav_links_for_admin' %>

    <li class="divider"></li>

    <%= render 'layouts/nav_links_for_user' %>

    <li class="divider"></li>

    <%= render 'layouts/navigation_links' %>

    <% if user_signed_in? %>
      <li class="divider"></li>
      <li><%= link_to 'Sign out', destroy_user_session_path, :method=>'delete' %></li>
    <% end %>
  </ul>
</nav>
