<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "BTTC" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Rails Devise" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
<!--    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">-->
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div class="wrapper">

      <%= render 'layouts/navigation' %>

      <div class="padded text-right">
          <%= render 'layouts/social_media' %>
      </div>

      <div class="padded sidebarCollapseWrapper">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          <div class="container-fluid">

            <button type="button" id="sidebarCollapse" class="btn btn-info">
              <i class="fa fas fa-align-left"></i>
            </button>

          </div>
        </nav>
      </div>

      <div id="content" class="container padded">
        <%= render 'layouts/messages' %>
        <%= render 'layouts/navbar_collapse' %>
        <%= yield %>
      </div>


    </div>

<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.concat.min.js"></script>-->
  </body>
</html>
